<header>
  <header>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, numquam? Reprehenderit, illum? Sequi
      corporis consectetur.
    </h1>
      <img src="https://remax-listingphotos-ca5.imgix.net/rets-images-vancouver-can/720cf6c3e2b1f88a05add5ddc25afa3caf441463-1-large.jpeg?fit=max&auto=format,compress&fm=pjpg&cs=srgb&q=35&h=640" alt="header-image">
  </header>
</header>