
<nav>
  <img src="https://github.com/s-oshitade/home-direct/blob/frontend/docs/logo.png?raw=true" alt="logo">
  <i id="burger" class="fa-solid fa-bars"></i>
  <div class="nav-right">
    <ul>
      <a href="/">Home</a>
    </ul>
    <% if(admin === 'notLoggedIn') { %>
      <ul>
        <a href="/login">Login</a>
      </ul>
    <% } else { %>
      <ul>
        <a href="/login/favs">My Favs😍</a>
      </ul>
      <ul>
        <a href="/login/logout">Logout</a>
      </ul>
    <% } %>
    <ul>
      <a href="/contact" class="btn cta">Contact Us</a>
    </ul>
  </div>
</nav>