<nav>
  <img src="https://github.com/s-oshitade/home-direct/blob/frontend/docs/logo.png?raw=true" alt="logo">
  <i id="burger" class="fa-solid fa-bars"></i>
  <div class="nav-right">
    <a href="/">Home</a>
    <a href="/properties">Our Properties</a>
    <% if(admin === 'notLoggedIn') { %>
      <a href="/login">Login</a>
    <% } else { %>
      <a href="/login/favs">My Favs</a>
      <a href="/login/logout">Logout</a>
    <% } %>
    <br>
    <a href="/contact" class="btn cta">Contact Us</a>
  </div>
</nav>
