<section class="search">
  <form class="row gx-6 gy-2 align-items-center" action="/properties/search" method="GET">
    <div class="col-sm-2">
      <label class="visually-hidden" for="specificSizeInputName">Preference</label>
      <input type="text" class="form-control" name="city" id="specificSizeInputName" placeholder="City">
    </div>
    <div class="col-sm-2">
      <label class="visually-hidden" for="specificSizeSelect">Preference</label>
      <select class="form-select" id="specificSizeSelect" name="number_of_bedrooms">
        <option selected value="">Rooms</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
      </select>
    </div>
    <div class="col-sm-2">
      <label class="visually-hidden" for="specificSizeSelect">Preference</label>
      <select class="form-select" id="specificSizeSelect" name="number_of_bathrooms">
        <option selected value="">Baths</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
      </select>
    </div>
    <div class="col-sm-2">
      <label class="visually-hidden" for="specificSizeSelect">Preference</label>
      <select class="form-select" id="specificSizeSelect" name="minimum_price">
        <option selected value="">$</option>
        <option value="100000">$100K</option>
        <option value="200000">$200K</option>
        <option value="300000">$300K</option>
        <option value="400000">$400K</option>
        <option value="500000">$500K</option>
      </select>
    </div>
    <div class="col-sm-2">
      <label class="visually-hidden" for="specificSizeSelect">Preference</label>
      <select class="form-select" id="specificSizeSelect" name="maximum_price">
        <option selected value="">$$$$</option>
        <option value="300000">$300K</option>
        <option value="500000">$500K</option>
        <option value="1000000">$1M</option>
        <option value="5000000">$5M</option>
        <option value="5000000">😎</option>
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Search!</button>
    </div>
  </form>
</section>