// See: https://sass-lang.com/
// Set up variables for the main fonts and colors in the project
$primary-fontstack: 'Source Sans Pro', sans-serif;
$secondary-fontstack: 'Bungee', sans-serif;
$background-body: white;
$navbar-color: rgb(95,143,163);
$navbar-color2: black;
$navbar-height: 120px;
$main-color:rgb(225,241,245);
$color-accent1:  rgb(95,143,163);
$main-font-color: #545149;
$font-color2: white;
