.main-header {
  margin: auto;
  font-size: 0.75rem;
  font: cursive;
  padding-top: 120px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.banner-text1 {
  font-size: 4vw;
  font-weight: bold;
  backdrop-filter: blur(5px);
}
