header {
  margin: auto;
  font-size: 0.75rem;
  font: cursive;
  padding-top: 60px;
 // box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
 box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.carousal-header {
  font-size: 10em;
  padding-bottom: 30%;
}
.carousel-inner {
  z-index: -1;
}
