@import "variables";

body,
html {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 600px;
  color: $main-font-color;
  background-color: $background-body;
  font-size: 24px;
  font-family: $primary-fontstack;
}

