@import "variables";


main {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;

  background-color: $main-color;
  margin: auto;
}

.super-main {
  padding-top: $navbar-height;
  width: 90%;
  margin: auto;
}