@import "variables";


main {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;
  // background-color: $main-color;
  // margin: auto;
  #liked {
    color: tomato;
  }

  h2 {
    // color: $main-font-color;
    font-family: cursive;
    // display: block;
    padding: 10px 0;

  }
  .feed {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    img {
      width: 500px;
      height: 400px;
      margin: auto;
      border-radius: 5%;
    }
  }
  .fa-solid {
    color: darkgray;
  }

  .fa-solid:hover{
    color: tomato;
  }

}

.super-main {
  padding-top: $navbar-height;
  width: 90%;
  margin: auto;
}

.form-signin {
  width: 300px;
  margin: auto;
  form {
    margin: auto;
    margin-top: 40%;

  }
  .text-muted {
      font-size: x-small;
      bottom: 5px;
    }
}
#feed:hover {
  transform: scale(1.03);
  box-shadow: #406882 0px 10px 10px -10px;
}
