@import "variables";


main {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;
  // background-color: $main-color;
  // margin: auto;
  h2 {
    // color: $main-font-color;
    font-family: cursive;
    // display: block;
    padding: 10px 0;

  }
  .feed {
    display: flex;
    flex-direction: column;
    img {
      width: 670px;
      height: 500px;
      margin: auto;
      border-radius: 5%;
    }
  }

  .fa-solid:hover{
    color: royalblue;
  }

}

.super-main {
  padding-top: $navbar-height;
  width: 90%;
  margin: auto;
}