@import "_variables";
/* Mobile: minimum width of 768px to maximum width of 1024px */
@media only screen and (max-width: 768px) {
  nav {
    .nav-right {
      flex-direction: column;
      font-size: 1rem;
      display: none;
    }

    .nav-right-visible {
      display: flex;
    }
  }
}

/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (min-width: 768px) {
nav {
  background-color: $navbar-color2;
}
#burger {
  display: none;
}

}

/*Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  .super-main {
    max-width: 1024px;
    margin: 0 auto;
  }

  nav {
    background-color: white;
    color: $main-font-color;
  }

}