@import "_variables";
/* Mobile: maximum width of 768px */
@media only screen and (max-width: 768px) {
  nav {
    .nav-right {
      font-size: 1rem;
      display: none;
    }

    .cta {

      background-color: white;
    }

    .nav-right-visible {
      display: flex;
    }
  }
}

/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (min-width: 768px) {
nav {
  background-color: #406882;
  .nav-right {
    flex-direction: row;
  }
}
#burger {
  display: none;
}

main {
  .feed {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: small;
    justify-content: space-between;
    img {
      width: 425px;
      height: 200px;
      margin: auto;
    }
  }
}

.cta {

  background-color: white;
}
}

/*Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #1A374D;
    .nav-right {
      flex-direction: row;
      align-content: center;
    }
    a {
      color: #545149;
      color: white;
    }
  }

  .super-main {
    max-width: 1024px;
    margin: 0 auto;
  }

  main {
    .feed {
      // flex-direction: row-reverse;
      flex-wrap: wrap;
      // justify-content: space-between;
      font-size: small;
      img {
        width: 320px;
        height: 200px;
        margin: auto;
      }
    }
  }

  .cta {
    background-color: white;
    color: #545149;
  }



}
