@import "_variables";
nav {
  background-color: $navbar-color;
  height: 120px;
  color: $font-color2;
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    border-radius: 50%;
    height: 100%;
  }
  span {
    font-family: $secondary-fontstack;
  }
  .nav-right {
    // display: flex;
    // align-items:center;
    vertical-align: auto;

  }

}