@import "_variables";
nav {
  background-color: $navbar-color;
  min-height: $navbar-height;
  width: 100%;
  color: $font-color2;
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  img {
    border-radius: 50%;
    height: 100%;
  }

  a {
    color: $anchor-color;
  }
  // span {
  //   font-family: $secondary-fontstack;
  // }
  .nav-right {
    display: flex;

  }


}